body{
    background-color: black;   
    color: white; 
    user-select: none;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
h1{
    font-family: Arial;
    font-weight: 1000;
}
p{
    font-family: Segoe UI;
    font-weight: 600;
}
button{
    cursor: pointer;
}
.orange{
    color: rgb(255, 169, 76);
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.allcontent{
    margin-inline: 15%;
    /* background-color: rgba(255,255,255,0.07); */
    height: 100rem;
    position: relative;
}
.intro{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes introAnim {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.intro p{
    font-size: 30px;
    transform: translate(-50% -50%);
    margin-top: 15%;
    margin-left: 2%;
    animation: introAnim 2s;
}
.intro h1{
    font-size: 125px;
    margin-top: -7%;
    margin-left: 1%;
    animation: introAnim 2s;
}
.intro h2{
    font-family: fantasy;
    opacity: 0.5;
    margin-left: 1%;
    animation: introAnim 2s;
}
.foxpic3 img{
    width: 600px;
    position: absolute;
    left: -10%;
    top: -15%;
    z-index: 1;
    /* transform: translate(-50% -50%); */
    filter: grayscale(100%);
    opacity: 0.4;
    transform: scalex(-1);
}
.about{
    position: absolute;
    transform: translate(-50% -50%);
    top: 65%;
    margin-inline: 20%;
}
.about h1{
    font-weight: 700;
    margin-left: -5%;
    letter-spacing: 3px;
}
.about p{
    font-weight: 500;
    opacity: 0.7;
    margin-top: 3%;
    font-size: 15px;
    word-spacing: 7.2px;
}
.scrollmore{
    left: 42%;
    transform: translate(-50% -50%);
    position: absolute;
    top: 50%;
    font-family: Arial;
    animation: introAnim 2s;
}
.scrollmore h3{
    font-weight: 200;
    opacity: 0.5;
}
.box{
    height: 75px;
    width: 225px;
    background-color: rgba(0,0,0,0);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 700;
    margin-left: 50px;
    position: relative;
    cursor: pointer;
    color: white;
}
.box:hover{
    background-color: rgb(255, 169, 76);
    transform: scale(1.1);
    border-radius: 50px;
}
.socialbox{
    top: 90%;
    position: absolute;
    transform: translate(-50% -50%);
    margin-left: 225px;
}
.bglogo{
    z-index: -3;
    position: absolute;
    left: -30%;
}
.bglogo img{
    width: 85vw;
    position: absolute;
    transform: translate(-50% -50%);
    z-index: -3;
    opacity: 0.056;
}