@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
    /* background-color: rgba(0, 0, 0, 1);     */
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    background-color: #171717;
    /* background: linear-gradient(to top, #dfe9f3 0%, white 100%); */
    user-select: none;
}
html, body {
    height: 100%;
}
button{
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;  
}
.grdnt{
    /* background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%); */
    color: #ff8800;
    background-clip: text;
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sections{
    display: flex;
    position: relative;
}
.logo{
    width: 65px;
    position: absolute;
}
.biglogo{
    /* top: 1%; */
    left: 5%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.all{
    margin: auto auto;
    box-sizing: border-box;
    height: 750px;
    width: 90%;
    /* background-color: rgba(0,0,0,0.5); */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 58%;
    left: 45%;
    display: flex;
}
.greetings{
    transform: translate(-50%,-50%);
    left: 35%;
    top: 30%;
    position: absolute;
    display: unset;
}
.greetings h1{
    font-size: 65px;
    font-family: Prosto One;
}
.greetings p{
    font-family: Oswald;
    font-size: 25px;
    opacity: 0.7;
    margin-top: 5%;
}
.learnmore{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 24%;
}
.learnmorebutton{
    background-color: rgba(255,255,255,0);
    font-family: Prosto One;
    border: 5px solid white;
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    display: unset;
    transition: 0.3s ease-in-out;
    position: relative;
    left: 60%;
    /* border-radius: 50px; */
}
.goback{
    background-color: rgba(255,255,255,0);
    font-family: Prosto One;
    border: 5px solid white;
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    display: unset;
    transition: 0.3s ease-in-out;
    position: absolute;
    left: 5%;
    top: 5%;
}
.goback:hover{
    border: 5px solid #ff8800;
    /* color: black; */
    background-color: #ff8800;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.learnmorebutton:hover{
    border: 5px solid #ff8800;
    /* color: black; */
    background-color: #ff8800;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.foxkingpic img{
    transform: translate(-50% , -50%);
    left: 90%;
    width: 30%;
    top: 40%;
    position: absolute;
}
.partone{
    display: none;
}
.parttwo{
    display: unset;
    /* background-color: white; */
}
.boxes{
    height: 150px;
    width: 850px;
    margin-top: 20px;
    /* background-color: rgba(255,255,255,1); */
    border-radius: 50px;
}
.box{
    display: block;
    gap: 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 55%;
    /* margin: auto auto; */
}
.box h1{
    font-family: Prosto One;
    padding: 10px 10px;
}
.box p , .box li{
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: 600;
    padding-left: 30px;
    list-style: none;
}
.box h2{
    font-family: Prosto One;
}
.faq{
    left: 95%;
    transform: translateX(-50%);
    position: relative;
    font-size: 100px;
    margin-top: 15px;
    color: #ff8800;
    /* color: white; */
}
.abtme{
    height: 250px;
}
.qna{
    margin-top: 50px;
}